.menu-side-container, .menu-side_eng-container {
  .menu {
    display: flex; 
    align-content: center;
  
    @include first-break-point {
      display: none;
    }

    li {
      list-style: none;
      margin-right: 20px;
    }
  
    .search a {
      position: relative;
      padding: 10px 0;
      color: $darkgrey;
      line-height: 20px !important;
      height: auto !important;
  
      &:hover {
        color: $blue;
      }
  
      &:before {
        content: url('../img/search.svg');
        position: absolute;
        top: 12px;
        left: -22px;
      }
    }
  }
}

.btn {
  a {
    line-height: 20px !important;
    height: auto !important;
  }

  &.white a {
    border: 1px solid $grey;
    color: $darkgrey;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;

    &:hover {
      color: $blue;
      border: 1px solid $blue;
      background-color: transparent;
    }
  } 

  &.green a {
    background-color: $green;
    font-weight: 700;
    color: $white;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 25px;

    @include first-break-point {
      width: 100%;
      padding: 20px 25px;
      border-radius: 50px;
      text-align: center;
    }

    &:hover {
      color: $white;
      background-color: rgba($green, 0.9);
    }
  }
}