$open-sans: 'Open Sans', sans-serif;
$ubunto: 'Ubuntu', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$darkgrey: rgb(93, 109, 118);
$grey: rgb(193, 193, 193);
$blue: rgb(0, 110, 220);
$green: rgb(33, 193, 140);