*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  background-color: #006EDC;
  height: 100%;
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}