@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400;700&display=swap');

@import 
'utilities/normalize',
'utilities/variables',
'utilities/mixins',
'base/typography',
'base/global',
'components/header';